//Media query breakpoints
$xs-breakpoint: 480px;
$sm-breakpoint: 768px;
$md-breakpoint: 960px;
$lg-breakpoint: 1200px;

//document settings
$base-fontsize: 16px;

//add font in quotes
$primary-font: '', Arial, Helvetica, sans-serif;
$secondary-font: '', Arial, Helvetica, sans-serif;


//colors
